@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato Regular'), local('Lato-Regular'), url('./assets/fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: local('Lato Bold'), local('Lato-Bold'), url('./assets/fonts/lato/Lato-Bold.woff') format('woff'), url('./assets/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Black';
    src: local('AvenirLTStd Black'), local('AvenirLTStd-Black'), url('./assets/fonts/AvenirLT/AvenirLTStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Light';
    src: local('AvenirLTStd Light'), local('AvenirLTStd-Light'), url('./assets/fonts/AvenirLT/AvenirLTStd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: local('OpenSans Semibold'), local('OpenSans-Semibold'), url('./assets/fonts/OpenSans/OpenSans-Semibold.eot') format('eot'), url('./assets/fonts/OpenSans/OpenSans-Semibold.woff') format('woff'), url('./assets/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Regular';
    src: local('PTSans Regular'), local('PTSans-Regular'), url('./assets/fonts/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: local('PTSans Bold'), local('PTSans-Bold'), url('./assets/fonts/PTSans/PTSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-BoldItalic';
    src: local('PTSans BoldItalic'), local('PTSans-BoldItalic'), url('./assets/fonts/PTSans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Italic';
    src: local('PTSans Italic'), local('PTSans-Italic'), url('./assets/fonts/PTSans/PTSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}