@import "constants";
.main-section {
    width: $widthSmall;
    margin: 60px auto;
    &-header {
        display: block;
        margin: 0 auto;
        font-size: 25px;
        font-family: "Lato-Bold";
        color: rgb(101, 99, 99);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-around;
    }
    &-btn {
        display: block;
        min-width: 150px;
        margin: 0 auto;
        padding: 10px 0;
        color: #656363;
        background: transparent;
        background-color: #f7f7f7;
        text-transform: uppercase;
        border: none;
        border-radius: 6%;
        transition: .3s ease-in;
        &:active,
        &:focus {
            outline: none;
            color: #f7f7f7;
            font-weight: 700;
            background-color: #f31c1c;
        }
        &:hover {
            background-color: #fc5a5a;
        }
    }
}

.cart {
    margin: 20px auto;
    &-item {
        display: flex;
        margin: 5px auto;
        width: 470px;
        border: 1px solid black;
        box-shadow: 11px -7px 18px -7px #000000;
        min-height: 40px;
        align-items: center;
        &-button {
            display: block;
            text-decoration: none;
            background-color: rgb(54, 207, 66);
            border: 1px solid rgba(54, 52, 52, 0.527);
            border-radius: 5px;
            box-shadow: 6px -4px 10px -5px #000000;
            width: 15px;
            text-align: center;
            font-weight: bold;
            &:last-child {
                background-color: rgb(238, 25, 25);
            }
        }
        span {
            display: block;
            margin: 0 5px;
            &:first-child {
                margin-right: 20px;
                color: rgb(4, 32, 4);
                font-size: large;
                font-weight: bold;
                min-width: 200px;
            }
        }
    }
}

.main-support {
    margin: 30px auto;
}

.contact-form {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 400px;
    span {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-weight: 800;
    }
    label {
        display: block;
        margin: 20px;
        position: relative;
        min-height: 20px;
        align-items: center;
        input {
            position: absolute;
            left: 165px;
            top: -5px;
            min-height: 25px;
        }
    }
    #input_submit {
        display: block;
        margin-top: 10px;
        min-width: 120px;
        min-height: 30px;
        color: #656363;
        background: transparent;
        background-color: #f7f7f7;
        &:active,
        &:focus {
            outline: none;
            font-weight: 700;
        }
        &:hover {
            background-color: #deebde;
        }
    }
    .incorrect_input {
        background-color: #fc9292;
    }
}