@import "constants";
@import 'fonts';
body {
    margin: 0;
}

.container {
    width: $widthAll;
    margin: 0 auto;
    box-sizing: border-box;
}

.invisible {
    display: none;
}

.fixed {
    position: fixed;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #F5F5F5;
    background: #f7f7f7;
    font-family: "OpenSans-Semibold";
    transition: .3s ease-in;
    &:hover {
        border-bottom: 2px solid #fc5a5a;
    }
    &:hover &-spec-button {
        background: #fc5a5a;
    }
    & img {
        display: block;
        margin: 20px auto;
    }
    &-spec {
        display: block;
        width: 100%;
        & h3 {
            font-size: 24px;
            font-weight: 600;
            color: #444444;
            margin: 0 0 10px 0;
        }
        &-price {
            font-size: 20px;
            color: #fc5a5a;
            display: block;
            margin-bottom: 12px;
        }
        &-button {
            text-decoration: none;
            display: inline-block;
            padding: 0 12px;
            background: #cccccc;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 28px;
            transition: .3s ease-in;
        }
    }
}

// @import "header";
// @import "footer";
// @import "main";